---
import MobileNav from "../layout/MobileNav.astro";
import ThemeIcon from '../generic/ThemeIcon.astro';
---

<header>

  <nav class="navigation">
    <div class="navigation_links">
      <div>
        <a href="/" class="logo">
          <img src="/logo.svg" alt="" />
        </a>
      </div>
      <ul class="navigation_list">
        <li>
          <a class="linkText" href="/blog">All Research</a>
        </li>
      </ul>
    </div>
    <div class="navigation_links">
      <div class="menu">
        <MobileNav />
      </div>
      <ul class="navigation_social">
        <li>
          <a href="/community" class="button-primary"
            >Join Community</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>

<!--
<div class="navigation_mobile"><MobileMenu text="Join" /></div> -->

<style lang="scss" is:global>
  header {
    border-bottom: 0.5px solid rgb(229, 227, 227);
    padding-inline: 1.5rem;

    ul,
    li {
      list-style-type: none;
    }

    a {
      font-family: "avenir-heavy", sans-serif;
      font-size: 1.2rem;
    }

    .navigation {
      display: flex;
      column-gap: 1.2rem;
      align-items: center;
      justify-content: center;
      margin-inline: var(--space-body);

      &_links {
        display: flex;
        align-items: center;
        column-gap: 3.2rem;
        padding-block: 1.2rem;
      }
      &_list {
        display: none;
        align-items: center;
        column-gap: 1.6rem;

        a {
          font-size: 1.4rem;
          font-weight: 800;
        }
      }
      &_social {
        display: none;
        align-items: center;
        column-gap: 1.2rem;

        a {
          filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
          background-color: #8bf797;
          display: inline-block;
          padding: 0.5rem 1rem;
          border: 2px solid black;
          transition: all;
          transition-duration: 0.5s;
          animation: ease-in-out;

          &:hover {
            background-color: #45734a;
            color: #fff;
          }
        }
      }
      .menu {
        span {
          text-transform: uppercase;
          font-size: 1.2rem;
          font-family: "avenir-black";
          letter-spacing: -1.2px;
          cursor: pointer;
        }
      }
    }

    @media only screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
      .navigation {
        justify-content: space-between;
        &_social {
          display: flex;
        }
      }

      .navigation_mobile {
        display: none;
      }
    }

    @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .navigation {
        &_list {
          display: flex;
        }
      }
    }

    .community {
      border-radius: 70px;
    }
  }
</style>
