---
import MobileNav from "../layout/MobileNav.astro";
---

<header>
  <nav class="navigation">
    <div class="navigation_links">
      <div>
        <a href="/" class="logo block light dark:hidden">
          <img src="/logo-black.webp" alt="" width="591" height="176" />
        </a>
        <a href="/" class="logo hidden dark dark:block">
          <img src="/logo-white.webp" alt="" width="591" height="176" />
        </a>
      </div>
    </div>
    <div class="navigation_links navigation_links--mode">
      <div class="menu">
        <MobileNav />
      </div>
      <a class="linkText" href="/blog">All Research</a>
      <ul class="navigation_social">
        <li>
          <a href="/community" class="button-primary">Join Community</a>
        </li>
      </ul>

    <button
    id="btn"
    class="h-12 w-12 rounded-lg p-2 hover:bg-gray-100 dark:hover:bg-gray-700"
  >
    <svg
      id="dark-icon"
      class="fill-slate-700 block dark:hidden dark"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
      ></path>
    </svg>
    <svg
      id="light-icon"
      class="fill-yellow-500 hidden dark:block light"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
        fill-rule="evenodd"
        clip-rule="evenodd"></path>
    </svg>
  </button>
    </div>
  </nav>
</header>

<style lang="scss" is:global>
  header {
    border-bottom: 0.5px solid rgb(229, 227, 227);
    padding-inline: 1.5rem;

    ul,
    li {
      list-style-type: none;
    }

    a {
      font-family: "avenir-heavy", sans-serif;
      font-size: 1.2rem;
    }

    .navigation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.2rem;
      align-items: center;
      justify-content: center;
      margin-inline: var(--space-body);

      &_links {
        display: flex;
        align-items: center;
        column-gap: 2.4rem;
        padding-block: 1.2rem;

        &--mode {
        justify-content: flex-end;
        }
      }
      &_list {
        display: none;
        align-items: center;
        column-gap: 1.6rem;

        a {
          font-size: 1.4rem;
          font-weight: 800;
        }
      }
      &_social {
        display: none;
        align-items: center;
        column-gap: 1.2rem;

        a {
          filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
          background-color: #8bf797;
          display: inline-block;
          padding: 0.5rem;
          border: 2px solid black;
          transition: all;
          transition-duration: 0.5s;
          animation: ease-in-out;

          &:hover {
            background-color: #45734a;
            color: #fff;
          }
        }
      }
      .menu {
        span {
          text-transform: uppercase;
          font-size: 1.2rem;
          font-family: "avenir-black";
          letter-spacing: -1.2px;
          cursor: pointer;
        }
      }
    }

    .logo {
      img {
        max-width: 50%;
      }
    }

    @media only screen and (width < 640px) and (-webkit-min-device-pixel-ratio: 1) {
      .linkText {
        display: none;
      }

      #btn {
        display: none;
      }
    }

    @media only screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
      .navigation {
        justify-content: space-between;
      }
    }

    @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .navigation {
        &_social {
          display: flex;
        }
        &_list {
          display: flex;
        }
      }
    }

    .community {
      border-radius: 70px;
    }
  }
</style>
