---
import ResearchNav from "../layout/ResearchNav.astro";
const tags = ["DeFi", "Governance", "Infrastructure", "Layer1", "Layer2"];
---

<script>
  declare global {
    interface Window {
      openNav: () => void;
      closeNav: () => void;
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    window.openNav = () => {
      const myNav = document.getElementById("myNav");
      if (myNav) {
    myNav.classList.add("show");
  }
    };

    window.closeNav = () => {
      const myNav = document.getElementById("myNav");
      if (myNav) {
        myNav.style.width = "0%";
      }
    };
  });

  document.addEventListener("DOMContentLoaded", () => {
    const dropdownButtons = document.querySelectorAll(".resources-button");
    const dropdownMenu = document.querySelector(".sidebar") as HTMLDivElement;
    let isOpen = false;

    dropdownButtons.forEach((button) => {
      button.addEventListener("click", (event: MouseEvent) => {
        event.preventDefault(); // Prevent default anchor behavior
        isOpen = !isOpen;
        dropdownMenu.classList.toggle("show", isOpen);
      });
    });

    document.addEventListener("click", (event: MouseEvent) => {
      if (
        !dropdownButtons.some((button) =>
          button.contains(event.target as Node)
        ) &&
        !dropdownMenu.contains(event.target as Node)
      ) {
        isOpen = false;
        dropdownMenu.classList.remove("show");
      }
    });
  });

  document.addEventListener("DOMContentLoaded", () => {
  const dropdownButton = document.querySelector(".dropbtn") as Element;
  const dropdownMenu = document.querySelector(".dropdown-content") as Element;

  dropdownButton.addEventListener("click", () => {
    dropdownMenu.classList.toggle("hidden");
  });
});
</script>

<!-- close animation need to fix -->
<div id="myNav" class="overlay dark:bg-[#090909] bg-white">
  <div class="flex items-center justify-between px-6">
    <div class="py-8 inline-block">
      <div>
        <a href="/" class="logo block light dark:hidden">
          <img src="/logo-black.webp" alt="" width="197" height="58" />
        </a>
        <a href="/" class="logo hidden dark dark:block">
          <img src="/logo-white.webp" alt="" width="197" height="58" />
        </a>
      </div>
    </div>

    <div class="flex items-center gap-2">
      <a
        href="javascript:void(0)"
        class="px-2 text-4xl text-black dark:text-white transition duration-300"
        onclick="closeNav()">&times;</a
      >
      <!-- needed to fix this css -->
    </div>
    
  </div>

  <div class="mt-32 px-6">
    <nav class="mobilebar rounded grid py-12 px-4 gap-y-4 bg-[#1b1b1b] w-4/12">
      {
        tags.map((tag) => {
          return (
            <a
              class="hover:bg-[#C6FF50] text-white hover:text-gray-700 hover:rounded p-2 nav-link carousel-cell"
              href={`/research/tags/${tag.toLowerCase()}/`}
            >
              {tag}
            </a>
          );
        })
      }
    </nav>
  </div>

</div>

<span class="menu dark:block hidden" onclick="openNav()">
  <svg
    width="28"
    height="18"
    viewBox="0 0 28 18"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect class="" width="28" height="2" rx="1" fill="white"></rect>
    <rect y="8" width="28" height="2" rx="1" fill="white"></rect>
    <rect x="8" y="16" width="20" height="2" rx="1" fill="white"></rect>
  </svg>
</span>
<span class="menu dark:hidden" onclick="openNav()">
  <svg
    width="28"
    height="18"
    viewBox="0 0 28 18"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect class="" width="28" height="2" rx="1" fill="#1b1b1b"></rect>
    <rect y="8" width="28" height="2" rx="1" fill="#1b1b1b"></rect>
    <rect x="8" y="16" width="20" height="2" rx="1" fill="#1b1b1b"></rect>
  </svg>
</span>

<style>

  .mobilebar {
    clip-path: polygon(20px 0, 100% 0, 290% 20px, 85% 100%, 0 100%, 0 20px);
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }
  /* Add this media query */
@media (max-width: 600px) {
  .overlay.show {
    width: 100%;
  }
}

@media (min-width: 601px) {
  .overlay.show {
    width: 75%;
  }


  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    margin-top: 1.4rem;
    margin-inline-start: 1.2rem;

    .navigation_social {
      display: block !important;
      margin-block-start: 4rem;

      a {
        color: #000 !important;
        filter: drop-shadow(5px 5px 0 rgb(255, 255, 255));

        &:hover {
          color: #fff !important;
        }
      }
    }
  }

  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 1.4rem;
    }
    .overlay .closebtn {
      font-size: 2.4rem;
      top: 1rem;
      right: 2rem;
    }
  }

  @media only screen and (width >= 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .myNav {
      display: none;
    }

    .menu {
      display: none;
    }
  }
</style>
