---
import ResearchNav from "../layout/ResearchNav.astro";
const tags = ['DeFi', 'Governance', 'Infrastructure','Layer1', 'Layer2' ];
---

<script>
  declare global {
    interface Window {
      openNav: () => void;
      closeNav: () => void;
    }
  }

  document.addEventListener('DOMContentLoaded', function(){
    window.openNav = () => {
      const myNav = document.getElementById("myNav");
      if (myNav) {
        myNav.style.width = "100%";
      }
    }

    window.closeNav = () => {
      const myNav = document.getElementById("myNav");
      if (myNav) {
        myNav.style.width = "0%";
      }
    }
  });


  document.addEventListener('DOMContentLoaded', () => {
  const dropdownButtons = document.querySelectorAll('.resources-button');
  const dropdownMenu = document.querySelector('.sidebar') as HTMLDivElement;
  let isOpen = false;

  dropdownButtons.forEach(button => {
    button.addEventListener('click', (event: MouseEvent) => {
      event.preventDefault(); // Prevent default anchor behavior
      isOpen = !isOpen;
      dropdownMenu.classList.toggle('show', isOpen);
    });
  });

  document.addEventListener('click', (event: MouseEvent) => {
    if (!dropdownButtons.some(button => button.contains(event.target as Node)) && !dropdownMenu.contains(event.target as Node)) {
      isOpen = false;
      dropdownMenu.classList.remove('show');
    }
  });
});

document.addEventListener('DOMContentLoaded', () => {
  const dropdownButton = document.querySelector('.dropbtn');
  const dropdownMenu = document.querySelector('.dropdown-content');

  dropdownButton.addEventListener('click', () => {
    dropdownMenu.classList.toggle('hidden');
  });
});
</script>

<!-- close animation need to fix -->
<div id="myNav" class="overlay dark:bg-[#090909] bg-white">
  <div>
    <button id="btn-mobile" class="absolute top-12 left-4 h-12 w-12 rounded-lg p-2 hover:bg-gray-100 dark:hover:bg-gray-700">
      <svg id="dark-icon" class="fill-slate-700 block dark:hidden dark" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_535_72)">
        <path d="M9.27 4.49001C7.64 12.03 13.02 16.9 16.93 18.29C15.54 19.38 13.81 20 12 20C7.59 20 4 16.41 4 12C4 8.55001 6.2 5.60001 9.27 4.49001ZM11.99 2.01001C6.4 2.01001 2 6.54001 2 12C2 17.52 6.48 22 12 22C15.71 22 18.93 19.98 20.66 16.98C13.15 16.73 8.57 8.55001 12.34 2.01001C12.22 2.01001 12.11 2.01001 11.99 2.01001Z" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_535_72">
        <rect width="24" height="24" fill="white"/>
        </clipPath>
        </defs>
        </svg>
      <svg id="light-icon" class="fill-yellow-500 hidden dark:block light" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_535_75)">
        <path d="M6.76 4.84005L4.96 3.05005L3.55 4.46005L5.34 6.25005L6.76 4.84005ZM1 10.5H4V12.5H1V10.5ZM11 0.550049H13V3.50005H11V0.550049ZM19.04 3.04505L20.448 4.45205L18.658 6.24205L17.251 4.83405L19.04 3.04505ZM17.24 18.16L19.03 19.96L20.44 18.55L18.64 16.76L17.24 18.16ZM20 10.5H23V12.5H20V10.5ZM12 5.50005C8.69 5.50005 6 8.19005 6 11.5C6 14.81 8.69 17.5 12 17.5C15.31 17.5 18 14.81 18 11.5C18 8.19005 15.31 5.50005 12 5.50005ZM12 15.5C9.79 15.5 8 13.71 8 11.5C8 9.29005 9.79 7.50005 12 7.50005C14.21 7.50005 16 9.29005 16 11.5C16 13.71 14.21 15.5 12 15.5ZM11 19.5H13V22.4501H11V19.5ZM3.55 18.5401L4.96 19.9501L6.75 18.15L5.34 16.74L3.55 18.5401Z" fill="#C6FF50"/>
        </g>
        <defs>
        <clipPath id="clip0_535_75">
        <rect width="24" height="24" fill="white"/>
        </clipPath>
        </defs>
        </svg>
    </button>
    <a href="javascript:void(0)" class="absolute top-12 right-6 px-2 text-5xl text-black dark:text-white inline-block transition duration-300" onclick="closeNav()">&times;</a> <!-- needed to fix this css -->
  </div>

  <div class="mt-24 px-6">
    <nav class="researchNav flex flex-wrap gap-2">
      {
        tags.map((tag) => {
          return (
            <a class="nav-link carousel-cell" href={`/research/tags/${tag.toLowerCase()}/`}>
              {tag}
            </a>
          );
        })
      }
    </nav>
  </div>

  <div class="grid gap-y-8 px-6">
  <div class="dropdown relative">
    <button class="dropbtn py-2 bg-transparent hover:text-[#C6FF50] flex justify-between items-center">
      Resources
      <span class="px-2">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="svg-path" fill-rule="evenodd" clip-rule="evenodd" d="M2.19526 5.77046C2.45561 5.51011 2.87772 5.51011 3.13807 5.77046L7.52861 10.161C7.78896 10.4213 8.21107 10.4213 8.47142 10.161L12.8619 5.77046C13.1223 5.51011 13.5444 5.51011 13.8047 5.77046C14.0651 6.03081 14.0651 6.45292 13.8047 6.71327L9.41423 11.1038C8.63318 11.8848 7.36685 11.8848 6.5858 11.1038L2.19526 6.71327C1.93491 6.45292 1.93491 6.03081 2.19526 5.77046Z" fill="#D4D4D4"/>
        </svg>
      </span>
    </button>
    <div class="rounded hidden min-w-[160px] dropdown-content absolute mt-4 bg-white">
      <a href="https://eip2077.info" target="_blank" class="text-gray-700 block px-4 py-2 hover:bg-[#C6FF50] hover:text-gray-700 hover:rounded">EIP-2077</a>
      <a href="https://eips.wiki" target="_blank" class="text-gray-700 block px-4 py-2 hover:bg-[#C6FF50] hover:text-gray-700 hover:rounded">EIP Wiki</a>
      <a href="https://research.2077.xyz" target="_blank" class="text-gray-700 block px-4 py-2 hover:bg-[#C6FF50] hover:text-gray-700 hover:rounded">2077 Labs</a>
      <a href="https://etherpedia.2077.xyz" target="_blank" class="text-gray-700 block px-4 py-2 hover:bg-[#C6FF50] hover:text-gray-700 hover:rounded">Etherpedia</a>
    </div>
  </div>
    
    <a href="https://2077.xyz/support" class="hover:text-[#C6FF50]">Support us</a>
  </div>
  
</div>

<span class="menu dark:block hidden" onclick="openNav()">
  <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect class="" width="28" height="2" rx="1" fill="white"/>
    <rect y="8" width="28" height="2" rx="1" fill="white"/>
    <rect x="8" y="16" width="20" height="2" rx="1" fill="white"/>
    </svg>          
</span>
<span class="menu dark:hidden" onclick="openNav()">
  <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect class="" width="28" height="2" rx="1" fill="#1b1b1b"/>
    <rect y="8" width="28" height="2" rx="1" fill="#1b1b1b"/>
    <rect x="8" y="16" width="20" height="2" rx="1" fill="#1b1b1b"/>
    </svg>          
</span>

<style>
  .sidebar.show {
  display: block;
}
 
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%;
    margin-top: 1.4rem;
    margin-inline-start: 1.2rem;

    .navigation_social {
      display: block !important;
      margin-block-start: 4rem;

      a {
        color: #000 !important;
        filter: drop-shadow(5px 5px 0 rgb(255, 255, 255));

        &:hover {
          color: #fff !important;
        }
      }
    }
  }


  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 1.4rem;
    }
    .overlay .closebtn {
      font-size: 2.4rem;
      top: 1rem;
      right: 2rem;
    }
  }

  @media only screen and (width >= 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .myNav {
        display: none;
      }

      .menu {
        display: none;
      }
    }
</style>
