<script>
  document.addEventListener('DOMContentLoaded', function(){
    window.openNav = function() {
      document.getElementById("myNav").style.width = "100%";
    }

    window.closeNav = function() {
      document.getElementById("myNav").style.width = "0%";
    }
  });
</script>

<!-- close animation need to fix -->
<div id="myNav" class="overlay dark:bg-[#090909] bg-white">
  <div>
    <button id="btn-mobile" class="absolute top-12 left-4 h-12 w-12 rounded-lg p-2 hover:bg-gray-100 dark:hover:bg-gray-700">
      <svg id="dark-icon" class="fill-slate-700 block dark:hidden dark" fill="currentColor" viewBox="0 0 20 20">
        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
      </svg>
      <svg id="light-icon" class="fill-yellow-500 hidden dark:block light" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
      </svg>
    </button>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> <!-- needed to fix this css -->
  </div>

  <div class="overlay-content">
    <a class="linkText" href="/research">All Research</a> <!-- needed to fix this css -->
    <ul class="navigation_social">
      <li>
          <a class="button-primary" href="https://discord.gg/2077collective">Join Community</a> <!-- needed to fix this css -->
        </li>
      </ul>
  </div>
</div>

<span class="menu" onclick="openNav()">
  <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="28" height="2" rx="1" fill="white"/>
    <rect y="8" width="28" height="2" rx="1" fill="white"/>
    <rect x="8" y="16" width="20" height="2" rx="1" fill="white"/>
    </svg>          
</span>

<style>
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%;
    margin-top: 1.4rem;
    margin-inline-start: 1.2rem;

    .navigation_social {
      display: block !important;
      margin-block-start: 4rem;

      a {
        color: #000 !important;
        filter: drop-shadow(5px 5px 0 rgb(255, 255, 255));

        &:hover {
          color: #fff !important;
        }
      }
    }
  }

  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
    color: #fff;
    display: inline-block;
    transition: 0.3s;
  }

  .overlay .closebtn {
    position: absolute;
    top: 1.2rem;
    right: 3rem;
    font-size: 3.5rem;
  }

  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 1.4rem;
    }
    .overlay .closebtn {
      font-size: 2.4rem;
      top: 1rem;
      right: 2rem;
    }
  }

  @media only screen and (width >= 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .myNav {
        display: none;
      }

      .menu {
        display: none;
      }
    }
</style>
