---
const tags = ['DeFi', 'Governance', 'Infrastructure','Layer1', 'Layer2' ];
---


<nav class="researchNav flex flex-wrap gap-2 lg:hidden">
  {
    tags.map((tag) => {
      return (
        <a class="nav-link carousel-cell" href={`/research/tags/${tag.toLowerCase()}/`}>
          {tag}
        </a>
      );
    })
  }
</nav>

<!--, 'Protocol R\&D' -->
<style lang="scss" is:global>
  .researchNav {
    margin-block: 1.2rem;
    margin-block-end: 4rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    overflow-x: auto;

    a {
      display: flex;
      align-items: center;
      column-gap: 0.2rem;
      font-size: .8rem;
      font-weight: 700;
      background-color: var(--leather-dark-hover);
      color: var(--leather-default-active);
      max-width: fit-content;
      padding-inline: 0.8rem;
      padding-block: 0.6rem;
      border-radius: 0.2rem;

      &:hover {
        color: var(--leather-light-hover);
      }
    }

    .nav-arrow {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      margin: 0 0.5rem;
      font-size: 1.25rem;
      color: var(--semantic-green-default-normal);

      &:hover {
        color: var(--semantic-green-dark-active);
      }

      &.active {
        color: var(--semantic-green-dark-active);
      }
    }
  }
</style>
