---
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import Layout from '@layouts/Default.astro';
import ErrorPage from '@components/errors/404.astro';
---


<Layout
  title='Home'
  pageTitle='Research | 2077 Collective'
  description='2077 Collective deep dive into technical ethereum concepts'
>
<main class='p-6'>
  <div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4'>
    <a  target="_blank" href="https://discord.gg/2077collective" class="h-64 bg-indigo-500  rounded-lg p-4 flex items-center text-center justify-center cursor-pointer hover:bg-orange-500 transition duration-300">
      <img src="/discord.svg" alt="">
    </a>
    <a href="https://x.com/2077Collective" target="_blank">
      <div class='bg-blue-400 rounded-lg p-4 h-64 flex items-center text-center justify-center cursor-pointer hover:bg-blue-500 transition duration-300'>
        <img src="/twitter.svg" alt="">
      </div>
    </a>
    <a href="https://www.farcaster.id/c/2077collective" target="_blank">
      <div class='bg-blue-400 rounded-lg p-4 h-64 flex items-center text-center justify-center cursor-pointer hover:bg-green-500 transition duration-300'>
        <img src="/fc.svg" alt="">
      </div>
    </a>
  </div>
</main>
</Layout>

