---
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import Layout from '@layouts/Default.astro';
import ErrorPage from '@components/errors/404.astro';
---


<Layout
  title='Home'
  pageTitle='Research | 2077 Collective'
  description='2077 Collective deep dive into technical ethereum concepts'
>
<main class='p-6'>
    <ul class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4'>
    <a href="">
      <li class='bg-black text-white rounded-lg p-4 h-64 flex items-center text-center justify-center cursor-pointer hover:bg-green-500 transition duration-300'>
        
          discord logo hover over
        
      </li>
    </a>
    <a href="">
        <li class='bg-black text-white rounded-lg p-4 h-64 flex items-center text-center justify-center cursor-pointer hover:bg-green-500 transition duration-300'>
          
            twitter logo hover over
          
        </li>
      </a><a href="">
        <li class='bg-black text-white rounded-lg p-4 h-64 flex items-center text-center justify-center cursor-pointer hover:bg-green-500 transition duration-300'>
          
            fc logo hover over
          
        </li>
      </a><a href="">
        <li class='bg-black text-white rounded-lg p-4 h-64 flex items-center text-center justify-center cursor-pointer hover:bg-green-500 transition duration-300'>
          
            spotify logo hover over
          
        </li>
      </a>
    </ul>
  </main>
</Layout>

