---
import Layout from '@layouts/Default.astro';
import RecentResearchArticles from '@components/generic/RecentResearchArticles.astro';
---


<Layout
  title='2077 Research'
  pageTitle='2077 Research'
  description='Crypto research and technical analysis on Ethereum infrastructure, governance, protocols, and applications.'
  ogImage="https://res.cloudinary.com/dugn6guhe/image/upload/v1719842403/HbIdWKH_oj2tpe.webp"
>
  <main class='px-6 lg:px-48'>
    <RecentResearchArticles />
    
  </main>
</Layout>