---
import type { CollectionEntry } from 'astro:content';
import BlogSummaryCard from './BlogSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<ul class='grid md:grid-cols-2 lg:grid-cols-4 gap-6'>
  {
    posts.map((post) => {
      return (
        <li>
          <BlogSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>

<style is:global>
  .brutal-card {
    border: 1px solid gray !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: none !important;
    filter: none !important;
    padding: 0 !important;
  }
</style>