---
import type { CollectionEntry } from 'astro:content';
import BlogSummaryCard from './BlogSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;

// Sort posts in descending order by pubDate
const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.pubDate) - new Date(a.data.pubDate);
});
---

<ul class=' mb-32 grid md:grid-cols-2 lg:grid-cols-4 gap-6'>
  {
    sortedPosts.map((post) => {
      return (
        <li class='my-4'>
          <BlogSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>

<style is:global>
  .brutal-card {
    border: 1px solid gray !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: none !important;
    filter: none !important;
    padding: 0 !important;
  }
</style>